@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-main: #020203;
    --accent: #6366f1;
}

body {
    @apply bg-bg-main text-[#fafafa] antialiased;
}

.mesh-bg {
    background-color: hsla(240,10%,3.9%,1);
    background-image: 
        radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
        radial-gradient(at 50% 0%, hsla(225,39%,30%,0.1) 0, transparent 50%), 
        radial-gradient(at 100% 0%, hsla(339,49%,30%,0.05) 0, transparent 50%);
}

.glass-card {
    background: rgba(10, 10, 12, 0.4);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.glow-indigo {
    box-shadow: 0 0 80px -20px rgba(99, 102, 241, 0.15);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes scan {
  0% { top: 0%; opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}
